# AKASH GUPTA- HOW TO ACCESS YOUR DATABASE USING PYTHON

# This notebook illustrates how to access your database instance using Python by following the steps below

### 1.Import the ibm_db Python library
### 2.Identify and enter the database connection credentials
### 3.Create the database connection
### 4.Create a table
### 5.Insert data into the table
### 6.Query data from the table
### 7.Retrieve the result set into a pandas dataframe
### 8.Close the database connection

In [ ]:
import ibm_db

## Replace the placeholder values with your actual Db2 hostname, username, and password:

dsn_hostname = "YourDb2Hostname" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"

dsn_uid = "YourDb2Username"        # e.g. "abc12345"

dsn_pwd = "YoueDb2Password"      # e.g. "7dBZ3wWt9XN6$o0J"


dsn_driver = "{IBM DB2 ODBC DRIVER}"

dsn_database = "BLUDB"            # e.g. "BLUDB"

dsn_port = "50000"                # e.g. "50000" 

dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [4]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "------"        # e.g. "abc12345"
dsn_pwd = "------"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=vrn58441;PWD=4q56d2h3thjd^wcj;"
dsn_database = "----"            # e.g. "BLUDB"
dsn_port = "-----"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

## Create the DB2 database connection

Ibm_db API uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.


Lets build the dsn connection string using the credentials you entered above

In [5]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER=DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=vrn58441;PWD=4q56d2h3thjd^wcj;;DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=vrn58441;PWD=4q56d2h3thjd^wcj;

Now establish the connection to the database

In [6]:
#DO NOT MODIFY THIS CELL. 
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  vrn58441 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [7]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.01.0303
DB_NAME:    BLUDB

In [8]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

DRIVER_NAME:           libdb2.a
DRIVER_VER:            11.01.0303
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1208
CONN_CODEPAGE:         1208

# CLOSE THE CONNECTION

In [ ]:
ibm_db.close(conn)

## Summary

In this tutorial you established a connection to a DB2 database on Cloud database from a Python notebook using ibm_db API.

# HOW TO CREATE A TABLE USING PYTHON IN THE DATABASE CREATED

## CREATE TABLE

In [22]:

ins_query= " CREATE TABLE trucks1(serial_num integer primary key not null,name varchar(15) not null,mfr_year integer not null,mfr_name varchar(20) not null ) "
stmt=ibm_db.exec_immediate(conn,ins_query)

## INSERT INTO TABLE

In [33]:
ins_smt= "insert into trucks1 values(1,'Honda',2012,'solos'),(42,'Fiat',2014,'Faluda')"

In [34]:
stmt_insert=ibm_db.exec_immediate(conn,ins_smt)

## RETRIEVING ALL ROWS FROM TABLE

In [36]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from trucks1"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
ibm_db.fetch_both(selectStmt)

{'SERIAL_NUM': 1,
 0: 1,
 'NAME': 'Honda',
 1: 'Honda',
 'MFR_YEAR': 2012,
 2: 2012,
 'MFR_NAME': 'solos',
 3: 'solos'}

In [37]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
   print (" ID:",  ibm_db.result(selectStmt, 0), " FNAME:",  ibm_db.result(selectStmt, "FNAME"))

 ID: 42  FNAME: None

## Task 7: Retrieve data into Pandas 

In this step we will retrieve the contents of the trucks1 table into a Pandas dataframe

In [38]:
import pandas
import ibm_db_dbi

In [39]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [41]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from trucks1"

#retrieve the query results into a pandas dataframe
pdf = pandas.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.MFR_NAME[0]

'solos'

In [42]:
#print the entire data frame
pdf

   SERIAL_NUM   NAME  MFR_YEAR MFR_NAME
0           1  Honda      2012    solos
1          42   Fiat      2014   Faluda

In [ ]:
pdf.shape

## Task 8: Close the Connection
We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [43]:
ibm_db.close(conn)

True